<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div>
		<input id="new-item" type="text" name="title" placeholder="Enter new item">
		<button id="add-item">add item</button>
	</div>

	<ul id="items">
		
	</ul>


<script type="text/javascript" src="/js/itemCrud.js"></script>
</body>
</html>

