<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
</head>
<body>

	<nav>
		<p>
			<a href="/user/register">Register</a>
		</p>
		<br>	
		<p>
			<% if !session[:logged_in] %>
				<a href="/user/login">Login</a>
				<% else %>
					Logged in as <%= session[:username] %>
					<a href="/user/logout">Logout</a>
					<% end %>
		</p>
	</nav>

	<h1>Awesome Item App</h1>

	<% if session[:message] %>
		<p class="msg">
			<%= session[:message] %>
		</p>
		<% session[:message] = nil
	end %>

	<%= yield %>

</body>
</html>