<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav>
		<p>
			<a href="/items">Item index</a>
			<a href="/items/add">Add item</a>
		</p>	
	</nav>

	<h1>Awesome Item App</h1>

	<%= yield %>

</body>
</html>